[
    {
        "files" : [ "testcasesupport/io.c", "testcases/CWE843_Type_Confusion/CWE843_Type_Confusion__char_01.c" ],
        "compilation_cmd": "-I testcasesupport/",
        "main": "CWE843_Type_Confusion__char_01_good"
    },
    
    {
        "files" : [ "testcasesupport/io.c", "testcases/CWE843_Type_Confusion/CWE843_Type_Confusion__char_01.c" ],
        "compilation_cmd": "-I testcasesupport/",
        "main": "CWE843_Type_Confusion__char_01_bad"
    }
    
]
